.modal-content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 70vw;
    height: 40rem;
    border-radius: 20px;
    outline: none;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.633);
  }
  
  