.home{
    background-color: #fff;
}

.home nav{
    color: black;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    height: 4rem;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    padding: 0 70px 0 60px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.nav-view-user-profile{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-image: url(/src/assets/Mobile\ login-rafiki.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.home-banner{
    display: flex;
    min-height: calc(100vh - 4rem);
}
.home-banner-image{
    flex: 1;
    background-image: url(/src/assets/tinywow_remove_text_photo_48469651.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-height: 30rem;
}
.home-banner-description{
    flex: 1;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.home-banner-description .welcome{
    font-size: 35px;
    font-weight: 300;
}
.home-banner-description p{
    padding-left: 50px;
    font-size: x-large;
    font-weight: 450;
    color: #37065a;
    padding-top: 5rem;
}
.home-banner-description h1{
    padding-left: 40px;
    font-size: x-large;
    font-weight: 600;
    color: #360c55;
}