
.home-container{
    min-height: 100vh;
}
.home-container nav{
    width: 100vw;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color: #f3f3f4;
    min-height: 8vh;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: #000000;
}
.main {
    @apply sm:w-full sm:rounded-none md:w-full lg:w-full xl:w-1/2 xl:mt-20 xl:rounded-3xl;
    min-height: 70%;
    border-radius: 4rem;
    background: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px, rgba(0, 0, 0, 0.23) 0px 0px 6px;
    flex-wrap: wrap;
    color: #000000;
    margin-bottom: 5rem;
  }
  
.image-div{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
.image-div input{
    min-height: 100%;
}
.user-datas input{
    width: 130px;
}
.user-datas input::placeholder{
  color: #000000;
}

/* edit button */
.editBtn {
    width: 55px;
    height: 55px;
    border-radius: 20px;
    border: none;
    background-color: rgb(32, 32, 202);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
  }
  .editBtn::before {
    content: "";
    width: 200%;
    height: 200%;
    background-color: rgb(20, 20, 188);
    position: absolute;
    z-index: 1;
    transform: scale(0);
    transition: all 0.3s;
    border-radius: 50%;
    filter: blur(10px);
  }
  .editBtn:hover::before {
    transform: scale(1);
  }
  .editBtn:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
  }
  
  .editBtn svg {
    height: 17px;
    fill: white;
    z-index: 3;
    transition: all 0.2s;
    transform-origin: bottom;
  }
  .editBtn:hover svg {
    transform: rotate(-15deg) translateX(5px);
  }
  .editBtn::after {
    content: "";
    width: 25px;
    height: 1.5px;
    position: absolute;
    bottom: 19px;
    left: -5px;
    background-color: #ffffff;
    border-radius: 2px;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
  }
  .editBtn:hover::after {
    transform: scaleX(1);
    left: 0px;
    transform-origin: right;
  }

  /* submit button */
.submit-btn{
  background-color: #096321;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  color: #f4f4f4;
  font-weight: bold;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
  display: none;
}

  